[submodule "lib/thrust"]
	path = lib/thrust
	url = https://github.com/thrust/thrust.git
	branch = 1.8.3
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8.5
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.2.1
